.new {
	padding:8px 12px;
	background:transparent;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
	border:1px solid;
	display:inline-block;
	min-width:120px;
	text-transform:uppercase;
	font-size:16px;
    cursor: pointer;
}
.new:hover {
	background:#fff;
	color:#00bba7;
	display:inline-block;
	border:1px solid #fff;
}
.chitiet{
	position:fixed;
	z-index: 50;
	padding: none;
	display: none;
	width:900px;
	background-color:white;
	height:500px;
	top:150px;
	left:320px;
	border-style: solid;
	animation-name: example;
	  animation-duration: 1s;
	  padding: 5px;
	  background-color:rgba(243, 241, 247, 0.911);
	}
	@keyframes example {
	   0% {top:0px;}
	   100% {top:150px;}
	 }
	 .chitiet2{
		position:fixed;
		display: none;
		z-index: 50;
		padding: none;
		width:400px;
		background-color:white;
		height:500px;
		top:150px;
		left:1080px;
		border-style: solid;
		animation-name: example6;
	  animation-duration: 1s;
	  overflow: hidden;
	 }
	 @keyframes example6 {
		0% {width:0px;}
		100% {width:400px;}
	  }
	  .dichuyen{
		animation-name: example7;
		animation-duration: 1s;
		left: 180px;
	  }
	  @keyframes example7 {
		0% {left:320px;}
		100% {left:180px;}
	  }
	  .out{
		position:absolute;
	  top: 0px;
	  right: 0px;
	 }
	 .out input{
		font-size: 18px;
		width: 50px;
		height: 30px;
		border: none;
		outline: none;
		cursor: pointer;
		background-color: black;
		color: white;
	 }
	 .out1:hover {
		background-color: tomato;
	 }
	 .hients{
		background-color: rgba(197, 165, 104, 0.782);
		height: 30px;
		width: 100px;
		padding-top: 2px;
		cursor: pointer;
	}
	.hients:hover{
		background-color: rgba(252, 190, 76, 0.7);
		transition: 0.5s;
	}
	div.stars {
		width: 195px;
		display: inline-block;
		float: left;
	  }
	   
	  input.star { display: none; }
	   
	  label.star {
		float: right;
		padding: 10px;
		font-size: 20px;
		color: #444;
		transition: all .2s;
	  }
	   
	  input.star:checked ~ label.star:before {
		content: '\f005';
		color: #FD4;
		transition: all .25s;
	  }
	   
	  input.star-5:checked ~ label.star:before {
		color: #FE7;
		text-shadow: 0 0 20px #952;
	  }
	   
	  input.star-1:checked ~ label.star:before { color: #F62; }
	   
	  label.star:hover { transform: rotate(-15deg) scale(1.3); }
	   
	  label.star:before {
		content: '\f006';
		font-family: FontAwesome;
	  }
	  .tb td{
		  padding: 0.75em;
	  }
	  .tb{
		padding: 0.75em;
		margin: auto;
		border: 1px solid  #c1c4c4d4;
		color: #212529;
	  }
	  .detail {
		width:30px;
		height: 30px;
		background-color: #ffffff;
	}
	
	.detail:hover {
		color: rgb(255, 0, 0);
	}
	
	@keyframes animaaa {
		0% {transform: scale(0)};
		100% {transform: scale(1)};
	}
	
	#detailmodal {
		display: none;
		position: fixed;
		width:100%;
		height:100%;
		background-color: rgba(0, 0, 0, 0.6);
		margin: 0px;
		padding: 100px 0px;
		z-index: 100;
		left:0;
		top:0;
	}
	
	.closedt {
		color: #030303;
		font-size: 28px;
		font-weight: bold;
		flex-direction: row;
		justify-content: flex-end;
		float: right;
		margin: 0px 10px 0px -30px;
	}
	  
	.closedt:hover, 
	.closedt:focus {
		color:red;
		text-decoration: none;
		cursor: pointer;
	}
	
	#detailtail {
		width:1000px;
		height: 400px;
		background-color: #fff;
		animation-name: animaaa;
		animation-duration: 1s;
		margin: 100px auto;
		overflow: Auto;
	}
	
	.billdetailtxt {
		width:100%;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 30px;
	}
	
	.tabledetail {
		width:100%;
		padding: 50px 0px;
		line-height: 50px;
		margin: 0 auto;
	}
	
	.tabledetail tr {
		width:100%;
	}
	
	.tabledetail tr td{
		border-left: solid 1px;
		padding:0 10px;
	}
	
